{{!-- {
    storyPart: "end",
    foxWife: "Amelie",
    housing: "a house next to the Eiffel Tower"
} --}}
{{!-- 
{{!-- <h1>{{storyPart}}</h1> --}}



<h1>The {{details.storyPart}}:</h1>
<p>After a while, Rupert met a beautiful fox named {{details.foxWife}}. They fell deeply in love and lived in {{details.housing}}. They lived there happily ever after. The end.</p>
<a href="/">Start Over</a>