<h1>Welcome! Please Login</h1>

<form method="post" action="/users/login" id="login" name="login">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required/>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>